#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true"
               name="XMLConfigTest"
               packages="org.apache.logging.log4j.test">
    <Filter type="ThresholdFilter" level="trace"/>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-30.30C{1.} %-5level: %msg%n%throwable"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${symbol_dollar}{env:LOG_PATH:-${symbol_dollar}{sys:log.path:-/var/log}}/${rootArtifactId}.log"
                     filePattern="${symbol_dollar}{env:LOG_PATH:-${symbol_dollar}{sys:log.path:-/var/log}}/history/${symbol_dollar}${symbol_dollar}{date:yyyy-MM}/${rootArtifactId}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %-35.35C{1.} %-5level: [%7.7t] %m%n%throwable</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
        <!-- package logging -->
        <Logger name="${package}" level="${symbol_dollar}{env:LOG_LEVEL:-${symbol_dollar}{sys:log.level:-INFO}}" additivity="false">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="RollingFile" />
        </Logger>
        <!-- Log SQL statements -->
        <Logger name="org.hibernate.SQL" level="${symbol_dollar}{env:LOG_SQL_LEVEL:-${symbol_dollar}{sys:log.sql.level:-INFO}}" additivity="false">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="RollingFile" />
        </Logger>
    </Loggers>
</Configuration>
